{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <div class="section-container content-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='images/headshot.jpg') }}" class="img-responsive" alt=""> 
                    </div>
                    <div class="col-md-6">
                        <h1>Jake Tsuchiyama</h1>
                        <h4>Software Engineer from Honolulu, Hawaii</h4>
                        <h5>Santa Clara University, B.S. Computer Science and Engineering, June 2023</h5>
                        <p>I am an aspiring full-stack developer with an interest in building consumer-facing applications. I am proficient in languages such as Python, C, and JavaScript and also have experience with React and Unity.</p>

                        <ul class="list-unstyled">
                            <li>
                                <a href="mailto:jtsuchiyama@scu.edu" target ="_blank" title="" class="link-like-text">email</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/jake-tsuchiyama-46a7b61a1/" target ="_blank" title="" class="link-like-text">linkedin</a>
                            </li>
                            <li>
                                <a href="https://github.com/jtsuchiyama" target ="_blank" title="" class="link-like-text">github</a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCys2PdA6HFsz19JlcxW6zmQ" target ="_blank" title="" class="link-like-text">youtube</a>
                            </li>
                            <li>
                                <a href="https://drive.google.com/drive/folders/1M_o5XEoDZMH9rYeSdZE3gL9ZT7GX6YQ3?usp=sharing" target ="_blank" title="" class="link-like-text">sheet music folder</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}