{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Most Recent Videos</h1>

    <h3>Haikyu!! OP4 - BURNOUT SYNDROMES - Fly High (Ukulele Anime Cover)</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zqg28ZK1_XY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h3>Fire Force S2 OP2 - KANA-BOON - Torch of Liberty (Ukulele Anime Cover)</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RXm43hywpow" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h3>Lauv - Sims (Ukulele Cover)</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NPnM0Trt74M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}