{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Most Recent Videos</h1>

    <h2>Haikyu!! OP5 - BURNOUT SYNDROMES - Hikari Are (Ukulele Anime Cover)</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/KVZnMVbKypI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>My Hero Academia S4 OP2 - KANA-BOON - Starmaker (Ukulele Anime Cover)</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/b4_XRw3Fk30" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>The Weeknd - Blinding Lights (Ukulele Cover)</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TOqsFdNOlHA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>Your Lie in April OP1 - Goose house - Hikaru Nara (Ukulele Anime Cover)</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6QZD1eXyEFo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>Haikyu!! OP4 - BURNOUT SYNDROMES - Fly High (Ukulele Anime Cover)</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zqg28ZK1_XY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>Fire Force S2 OP2 - KANA-BOON - Torch of Liberty (Ukulele Anime Cover)</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RXm43hywpow" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>Lauv - Sims (Ukulele Cover)</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NPnM0Trt74M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}