{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Projects</h1>

    <h2 class="text-center">Workout Tracker</h1>
        <p>Python app that allows users to track their workouts using Flask, PostgresQL, psycopg2</p>
        <a href="https://github.com/jtsuchiyama/workout">GitHub</a>

    <h2 class="text-center">Hawaii COVID Tracker</h1>
        <p>Python app that scrapes COVID data in Hawaii, sending SMS notifications using Twilio and displays graph with MatPlotLib and PyQt5</p>
        <a href="https://github.com/jtsuchiyama/hawaii-covid-tracker">GitHub</a>

    <h2 class="text-center">Resume Website</h1>
        <p> Personal website using Flask</p>
        <a href="">GitHub</a>

    <h2 class="text-center">Pokemon Showdown Game Tracker</h1>
    <p>A player-assistant bot to perform various tasks during gameplay including organizing information, doing rapid calculations, and providing player feedback using PyQt5 framework</p>
    <a href="">GitHub</a>

    

    
{% endblock %}