{% extends 'base.html' %}

{% block title %}
Projects
{% endblock %}

{% block content %}
    <h1 class="text-center divider">Projects</h1>

    <div class="col-xs-12 divider">
      <div class="text-center section-container-spacer">
        <h2><a href="https://github.com/SCUGuildGamers/GuildGamers" target="_blank">Drifting in the Water</a></h2>
      </div>
      <div class="row section-container-spacer">
        <div class="col-md-4">
            <div class="section-container-spacer">
              <p>Language: Unity / C#</p>
              <a href="https://github.com/SCUGuildGamers/GuildGamers" target ="_blank">GitHub Link</a>
            </div>

            <h4>Main Libraries/Applications</h4>
            
            <ul class="list-unstyled">
              <li>Unity</li>
            </ul>
            
        </div>
        <div class="col-md-8">
          <p>A 2D side-scrolling bullet hell game that spreads awareness of ocean pollution solutions through gameplay mechanics and messaging</p>
        </div>
      </div>
      <img src="{{ url_for('static', filename='images/driftinginthewater.png') }}" alt="" class="img-responsive">
    </div>

    <div class="col-xs-12 divider">
      <div class="text-center section-container-spacer">
        <h2><a href="https://github.com/jtsuchiyama/ukulele-cv" target="_blank">Ukulele Chord Recognition</a></h2>
      </div>
      <div class="row section-container-spacer">
        <div class="col-md-4">
            <div class="section-container-spacer">
              <p>Language: Python</p>
              <a href="https://github.com/jtsuchiyama/ukulele-cv" target ="_blank">GitHub Link</a>
            </div>

            <h4>Main Libraries/Applications</h4>
            
            <ul class="list-unstyled">
              <li>OpenCV</li> 
              <li>Mingus</li>
              <li>Matplotlib</li>
              <li>NumPy</li>
            </ul>
            
        </div>
        <div class="col-md-8">
          <p>Python app that recognizes a person's finger positions relative to the strings and frets 
            to determine what chord is being played. Iteration upon 
            <a href="https://github.com/paulden/guitar-fingering-recognition" target="_blank">paulden's guitar finger recognition</a>.</p>
        </div>
      </div>
      <img src="{{ url_for('static', filename='images/ukulele-cv.png') }}" alt="" class="img-responsive">
    </div>




    <div class="col-xs-12 divider">
        <div class="text-center section-container-spacer">
          <h2><a href="https://github.com/jtsuchiyama/workout" target="_blank">Workout Tracker</a></h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <p>Language: Python</p>
                <a href="https://github.com/jtsuchiyama/workout" target ="_blank">GitHub Link</a>
              </div>

              <h4>Main Libraries/Applications</h4>
              
              <ul class="list-unstyled">
                <li>Flask</li> 
                <li>PostgresQL</li>
                <li>psycopg2</li>
              </ul>
              
          </div>
          <div class="col-md-8">
            <p>Python webpage that allows users to track their workouts using Flask, 
                PostgresQL, psycopg2. It offers features such as account creation, workout logging, 
                and workout duplication.</p>
          </div>
        </div>
        <img src="{{ url_for('static', filename='images/workouttracker.png') }}" alt="" class="img-responsive">
      </div>



  
      <div class="col-xs-12 divider">
          <div class="text-center section-container-spacer">
            <h2><a href="https://github.com/jtsuchiyama/hawaii-covid-tracker" target="_blank">Hawaii COVID Tracker</a></h2>
          </div>
          <div class="row section-container-spacer">
            <div class="col-md-4">
                <div class="section-container-spacer">
                  <p>Language: Python</p>
                  <a href="https://github.com/jtsuchiyama/hawaii-covid-tracker" target ="_blank">GitHub Link</a>
                </div>
  
                <h4>Main Libraries/Applications</h4>
                
                <ul class="list-unstyled">
                  <li>beautifulsoup4</li> 
                  <li>Matplotlib</li>
                  <li>pandas</li>
                  <li>PyQt5</li>
                  <li>Twilio</li>
                </ul>
                
            </div>
            <div class="col-md-8">
              <p>Python Hawaii COVID-19 statistics tracker with the ability to send SMS notifications to 
                  registered phone numbers and create simple graphs of the data. Scrapes 
                  data from https://health.hawaii.gov/coronavirusdisease2019/.</p>
            </div>
          </div>
          <img src="{{ url_for('static', filename='images/covidtracker.png') }}" alt="" class="img-responsive">
        </div>

        
    
        
        <div class="col-xs-12 divider">
            <div class="text-center section-container-spacer">
              <h2><a href="https://github.com/jtsuchiyama/Resume-Website" target="_blank">Resume Website</a></h2>
            </div>
            <div class="row section-container-spacer">
              <div class="col-md-4">
                  <div class="section-container-spacer">
                    <p>Language: Python</p>
                    <a href="https://github.com/jtsuchiyama/Resume-Website" target ="_blank">GitHub Link</a>
                  </div>
    
                  <h4>Main Libraries/Applications</h4>
                  
                  <ul class="list-unstyled">
                    <li>Flask</li> 
                  </ul>
                  
              </div>
              <div class="col-md-8">
                <p>Python webpage that contains a portfolio of coding projects and ukulele covers.</p>
              </div>
            </div>
            <img src="{{ url_for('static', filename='images/resumewebsite.png') }}" alt="" class="img-responsive">
        </div>
{% endblock %}